<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>

    <div class="logo">
        🛒 Digital Electronics E-Commerce Platform
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
    </nav>

</header>

<div class="form-container">

    <h2>Customer Login</h2>

    <!-- Error Message -->
    {% if error %}
    <div class="error-box">
        ❌ {{ error }}
    </div>
    {% endif %}

    <form action="/login" method="POST">

        <input
        type="text"
        name="username"
        placeholder="Enter Username"
        required>

    <div class="password-box">
    <input
    type="password"
    id="login_password"
    name="password"
    placeholder="Enter Password"
    required>

    <span class="eye" onclick="toggleLogin()">👁️</span>
</div>

        <div class="forgot-password">
    <a href="/forgot_password">Forgot Password?</a>
</div>

        <button type="submit" class="login-btn" id="loginBtn">
            Login
        </button>

    </form>

    <p>
        Don't have an account?
        <a href="/register">Register Here</a>
    </p>

</div>

<footer>

    <p>
        © 2026 Digital Electronics E-Commerce Platform
    </p>

</footer>

<script>
document.querySelector("form").addEventListener("submit", function () {
    document.getElementById("loginBtn").innerHTML = "Logging In...";
});
</script>

<script>
setTimeout(function () {

    let error = document.querySelector(".error-box");

    if (error) {
        error.style.display = "none";
    }

}, 3000);
</script> 

<script>
function toggleLogin(){
    var x=document.getElementById("login_password");
    x.type=(x.type==="password")?"text":"password";
}
</script>

</body>
</html>