<!DOCTYPE html>
<html>
<head>
    <title>OTP Verification</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="otp-container">

    <h2>🔐 OTP Verification</h2>

    <p>
        Enter the 6-digit OTP sent to your registered email.
    </p>

    <form method="POST">

        <input
            type="text"
            name="otp"
            maxlength="6"
            placeholder="Enter OTP"
            required
        >

        <button type="submit">
            Verify OTP
        </button>

    </form>

</div>

</body>
</html>