<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>

    <div class="logo">
        🛒 Digital Electronics
    </div>

<nav>

<a href="/">🏠 Home</a>

<a href="/products">🛍 Products</a>

<a href="/cart">🛒 Cart</a>

<a href="/track_order">📦 Track Order</a>

<a href="/profile">👤 Profile</a>

<a href="/admin">🔐 Admin</a>

<a href="/logout">🚪 Logout</a>

</nav>

</header>

<h1 class="page-title">Available Products</h1>

<form action="/products" method="GET" class="search-form">

    <input
        type="text"
        name="search"
        placeholder="Search Product..."
        value="{{ search }}">

    <button type="submit">🔍 Search</button>

</form>

<br>

{% if products|length == 0 %}

<h2 class="no-product">
    No Product Found
</h2>

{% endif %}

<div class="product-container">

{% for product in products %}

<div class="product-card">

   <a href="/product/{{ product[0] }}">
    <img
        src="{{ url_for('static', filename='images/' + product[5]) }}"
        alt="{{ product[1] }}"
        class="product-image">
</a>

    <h2>
    <a href="/product/{{ product[0] }}" class="product-link">
        {{ product[1] }}
    </a>
</h2>

    <h3>₹ {{ product[2] }}</h3>

    <p class="rating">
    ⭐ {{ product[6] }}/5 ({{ product[7] }} Reviews)
</p>

    <p>Stock Available: {{ product[3] }}</p>

    <form action="/add_to_cart" method="POST">

        <input
            type="hidden"
            name="pid"
            value="{{ product[0] }}">

        <label>Quantity</label>

        <input
            type="number"
            name="qty"
            value="1"
            min="1"
            max="{{ product[3] }}"
            required>

        <button type="submit">
            Add To Cart
        </button>

    </form>

</div>

{% endfor %}

</div>

<footer>

<p>
© 2026 Digital Electronics E-Commerce Platform
</p>

</footer>

</body>
</html>