<!DOCTYPE html>
<html>
<head>

<title>Profile</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h2 align="center">👤 My Profile</h2>

<div class="profile-box">

<h2>{{ user[1] }}</h2>

<p><b>📱 Mobile:</b> {{ user[2] }}</p>

<p><b>📧 Email:</b> {{ user[3] }}</p>

<p><b>🏠 Address:</b> {{ user[4] }}</p>

<p><b>📮 Pincode:</b> {{ user[5] }}</p>

<p><b>👤 Username:</b> {{ user[6] }}</p>

<a href="/products" class="btn">
Continue Shopping
</a>

</div>

</body>
</html>